* {
  box-sizing: border-box;
}


main {
  display: flex;
  justify-content: center;
}

header {
  display: flex;
  justify-content: center;
  padding: 20px 10px;

}

.game-grid {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(3, 200px);

}

.game-square {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;

  font-size: 96px;
  width: 200px;
  height: 200px;
  border: solid black;
}

.reset-btn {
  padding: 5px 5px;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: lightblue;
  transition: 100ms;
}

.reset-btn:active {
  box-shadow: 1px 2px 5px 1px rgba(113, 113, 113, 0.735);
}